PORT=5000
MONGO_URI=mongodb://localhost:27017/cvmanager
JWT_SECRET=ton_secret_jwt_ici
JWT_EXPIRES_IN=7d
GROQ_API_KEY=gsk_xxxxxx
OPENAI_API_KEY=sk-proj-xxxxxx
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=votre.email@gmail.com
SMTP_PASS=votre_mot_de_passe_app
MAIL_FROM="CV Manager <votre.email@gmail.com>"
NODE_ENV=development
FRONTEND_URL=http://localhost:5173